@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #6d796d62;
  background-color: #f6f2e0;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
}

.navbar-brand img {
  height: 2rem;
}

footer {
  margin-top: 300px;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.caption {
  position: absolute;
  top: 38%;
  width: 100%;
  color: rgb(255, 216, 200);
}

.caption h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 1rem rgb(248, 208, 208);
  padding-bottom: 0.3rem;
}

.caption h3 {
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #867f7f;
  padding-bottom: 1rem;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: 0.3rem 1.4rem;
  color: rgb(255, 236, 236);
}

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: rgb(255, 193, 193);
  background-color: rgb(255, 193, 193);
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #ca7f7f;
  background-color: #ca7f7f;
  color: white;
}

/* Upper side responsivness */
@media (max-width: 768px) {
  .caption h1 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.1rem 1rem;
  }

  .col-md-8 h1 {
    font-size: 1.7rem;
  }
}
/* ===end=== */

footer p {
  color: #999;
  line-height: 25px;
}

footer h2,
h3 {
  color: rgb(255, 236, 236);
}

footer h2 {
  font-size: 18px;
}

.footer-top {
  background: rgb(46, 45, 45);
  padding: 80px 0;
}

.segment-one h3 {
  font-family: Courgette;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}

.segment-two h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.segment-two h2:before {
  content: "|";
  color: #ca7766;
  padding-right: 10px;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 236, 236, 0.523);
  line-height: 40px;
}

.segment-two ul li a {
  color: #999;
  text-decoration: none;
}

.segment-three h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.segment-three h2:before {
  content: "|";
  color: #ca7766;
  padding-right: 10px;
}

.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}

.segment-four h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.segment-four h2:before {
  content: "|";
  color: #ca7766;
  padding-right: 10px;
}

.segment-four form input[type="submit"] {
  background: #ca7766;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
}

.col-md-3,
.col-sm-6,
.col-xs-12 {
  padding: 10px;
  padding-top: 2rem;
  color: #ffe5e0;
}

/* Footer Responsivness */
@media only screen and (min-width: 768px) and(max-width: 991px) {
  .md-mb-30 {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 767px) {
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .footer-top {
    padding: 50px 0;
  }
}
/* ===end=== */

.form-container {
  margin-top: 20vh;
  border: 1px solid #000;
  padding: 50px 60px;
  -webkit-box-shadow: -4px 3px 40px -4px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -4px 3px 40px -4px rgba(0, 0, 0, 0.59);
  box-shadow: -4px 3px 40px -4px rgba(0, 0, 0, 0.59);
}

.login-status {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -120px;
}

.panel{

  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 150px;
  background-color: #f6f2e0;
  color: #ca7f7f;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/* .container {
  position: relative;
  margin-top: 10vh;
  text-align: center;
} */

.title, .desc{
  position: relative;
  text-align: left;
  color: #000;
  padding-bottom: 2rem;
}

.info {
  padding: 2rem;
}
.event-list {
  text-align: center;
  list-style: none;
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}
.event-list > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}
.event-list > li > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
  background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li > img {
  width: 100%;
}
.event-list > li > .info {
  padding-top: 5px;
  text-align: center;
}
.event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}
.event-list > li > .social > ul {
  margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
.event-list > li > .social > ul > li {
  padding: 0px;
}
.event-list > li > .social > ul > li > a {
  padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(203, 225, 255);
}
.facebook a,
.twitter a,
.google-plus a {
  display: block;
  width: 100%;
  color: rgb(75, 110, 168) !important;
}
.twitter a {
  color: rgb(79, 213, 248) !important;
}
.google-plus a {
  color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(221, 75, 57) !important;
}


@media (min-width: 768px) {
 
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .event-list > li > time,
  .event-list > li > img {
    display: inline-block;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }
  .event-list > li > .info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .event-list > li > .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }
  .event-list > li > .social > ul {
    border-left: 1px solid rgb(230, 230, 230);
  }
  .event-list > li > .social > ul > li {
    display: block;
    padding: 0px;
  }
  .event-list > li > .social > ul > li > a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px;
  }
}


.buttonCont {
  position: relative;
  margin-top: 10vh;
  text-align: left;
  
}


.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  #contact-form {
    color: #494848aa;
  }